:root {
  --slider-padding: 2.5rem;
  --headerBackground: rgba(0, 0, 0, 0.5);
  --footerBackground: #397fb8;
  --componentBackground: #f4f4f4;
  --footerExpandnavBackground: #04355e;
  --buttonColor: #ddc89b;
  --textColor: #fff;
  --footerSmallText: rgb(200, 200, 200);
  --footerDateText: rgb(131, 131, 131);
  --categoryNameColor: #6f6f6f;
  --productPriceColor: #007a65;
  --countdownColor: #004bd6;
  --iconHover: red;
  --tableColor: whitesmoke;
  --border: 1px solid rgba(0, 0, 0, 0.25);
  --selectBorder: 1px solid #c4c4c4;
  --slider-index: 0;
  --line-height: 1.5;
}
* a {
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
}
#admin-hr {
  border: 0;
  height: 0.35rem;
  margin: 1em auto;
  display: block;
  background-image: -webkit-linear-gradient(
    0deg,
    transparent,
    var(--buttonColor),
    #e8de21,
    #e8c919,
    #326ee5,
    var(--footerExpandnavBackground),
    transparent
  );
  clear: both;
}
/*btn group*/
.btn-form-group #btn-fade-in {
  background-color: var(--buttonColor);
  color: var(--textColor);
  border: 0.5px solid rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  height: 35px;
  width: 150px;
  margin-left: 20px;
  font-size: 18px;
}
.btn-form-group #btn-fade-in:hover {
  color: var(--iconHover);
  background-image: linear-gradient(90deg, #4568dc, var(--buttonColor));
  border-radius: 6px;
  height: 35px;
  width: 150px;
  margin-left: 20px;
  background-position: 100% 0;
  font-size: 18px;
}
.btn-form-group #btn-fade-out {
  background-color: #4568dc;
  color: white;
  border-radius: 6px;
  height: 35px;
  width: 150px;
  margin-left: 20px;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  font-size: 18px;
}
.btn-form-group #btn-fade-out:hover {
  color: var(--iconHover);
  background-image: linear-gradient(90deg, #4568dc, var(--buttonColor));
  border-radius: 6px;
  height: 35px;
  width: 150px;
  margin-left: 20px;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  font-size: 18px;
}

/*link*/
.menu-link {
  position: relative;
  color: #004bd6;
  padding: 1rem 0 0.5rem;
  margin: 0 1.5rem;
  text-decoration: none;
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(12, 12, 12, 0.8);
  transition: transform 250ms;
}
.menu-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/*poup fade in/out*/
.popup-fade-in {
  display: flex;
}
.popup-fade-out {
  display: none;
}

/*new gift code*/
.new-gift-code {
  padding-bottom: 20px;
}
.new-gift-code label {
  font-weight: bold;
  color: var(--footerExpandnavBackground);
}
/*btn-delete-gift-code*/
#btn-delete-gift-code{
  background-image: linear-gradient(90deg, #4568dc, var(--buttonColor));
  height: 40px;
  width: 110px;
  border: 20px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
/*btn-new-gift-code*/
#btn-new-gift-code {
  background-image: linear-gradient(90deg, #4568dc, var(--buttonColor));
  height: 40px;
  width: 110px;
  border: 20px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
#btn-new-gift-code:hover {
  color: var(--textColor);
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  width: 130px;
}
#btn-new-gift-code b {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#btn-new-gift-code b:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn-new-gift-code:hover b {
  padding-right: 25px;
}

#btn-new-gift-code:hover b:after {
  opacity: 1;
  right: 0;
}

#btn-new-gift-code:after {
  content: "";
  border-radius: 50px;
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 150%;
  padding-left: 250%;
  margin-left: -50px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s;
}
#btn-new-gift-code:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
#btn-new-gift-code:active {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#btn-new-gift-code b {
  font-size: 14px;
}

/*new-gift-code result loading ring*/
#register-loading-ring {
  position: absolute;
  margin-left: 10px;
}
#register-loading-ring .visually-hidden {
  position: absolute;
  margin-top: 15px;
}

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
